.evenement-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.evenement-evenement {
  width: 100%;
  height: 2428px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.evenement-rectangle {
  top: -1px;
  left: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.evenement-rectangle001 {
  top: 0px;
  left: -1903px;
  width: 1903px;
  height: 3px;
  position: absolute;
}
.evenement-rectangle002 {
  top: -7px;
  left: -100px;
  width: 100px;
  height: 8px;
  position: absolute;
}
.evenement-rectangle003 {
  top: 26px;
  left: 1589px;
  width: 74px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle004 {
  top: 26px;
  left: 1589px;
  width: 74px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle005 {
  top: 26px;
  left: 1589px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle006 {
  top: 26px;
  left: 1589px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle007 {
  top: 175px;
  left: 129px;
  width: 631px;
  height: 340px;
  position: absolute;
}
.evenement-rectangle008 {
  top: 175px;
  left: 129px;
  width: 631px;
  height: 156px;
  position: absolute;
}
.evenement-rectangle009 {
  top: 176px;
  left: 129px;
  width: 586px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle010 {
  top: 176px;
  left: 129px;
  width: 586px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle011 {
  top: 355px;
  left: 129px;
  width: 631px;
  height: 96px;
  position: absolute;
}
.evenement-rectangle012 {
  top: 359px;
  left: 129px;
  width: 621px;
  height: 88px;
  position: absolute;
}
.evenement-rectangle013 {
  top: 359px;
  left: 129px;
  width: 621px;
  height: 64px;
  position: absolute;
}
.evenement-rectangle014 {
  top: 407px;
  left: 129px;
  width: 590px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle015 {
  top: 475px;
  left: 129px;
  width: 631px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle016 {
  top: 487px;
  left: 129px;
  width: 169px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle017 {
  top: 487px;
  left: 145px;
  width: 137px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle018 {
  top: 487px;
  left: 145px;
  width: 137px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle019 {
  top: 635px;
  left: 129px;
  width: 539px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle020 {
  top: 639px;
  left: 129px;
  width: 331px;
  height: 36px;
  position: absolute;
}
.evenement-rectangle021 {
  top: 643px;
  left: 129px;
  width: 331px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle022 {
  top: 646px;
  left: 479px;
  width: 176px;
  height: 23px;
  position: absolute;
}
.evenement-rectangle023 {
  top: 649px;
  left: 479px;
  width: 146px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle024 {
  top: 649px;
  left: 479px;
  width: 146px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle025 {
  top: 646px;
  left: 633px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.evenement-rectangle026 {
  top: 646px;
  left: 633px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.evenement-rectangle027 {
  top: 703px;
  left: 129px;
  width: 272px;
  height: 399px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle028 {
  top: 703px;
  left: 129px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle029 {
  top: 703px;
  left: 129px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle030 {
  top: 868px;
  left: 129px;
  width: 272px;
  height: 214px;
  position: absolute;
}
.evenement-rectangle031 {
  top: 868px;
  left: 129px;
  width: 256px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle032 {
  top: 870px;
  left: 129px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle033 {
  top: 870px;
  left: 129px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle034 {
  top: 924px;
  left: 129px;
  width: 256px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle035 {
  top: 927px;
  left: 129px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle036 {
  top: 927px;
  left: 129px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle037 {
  top: 927px;
  left: 216px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle038 {
  top: 927px;
  left: 216px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle039 {
  top: 927px;
  left: 129px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle040 {
  top: 927px;
  left: 129px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle041 {
  top: 972px;
  left: 129px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle042 {
  top: 972px;
  left: 129px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle043 {
  top: 972px;
  left: 129px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle044 {
  top: 972px;
  left: 129px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle045 {
  top: 972px;
  left: 155px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle046 {
  top: 972px;
  left: 155px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle047 {
  top: 975px;
  left: 155px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle048 {
  top: 975px;
  left: 155px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle049 {
  top: 1000px;
  left: 129px;
  width: 256px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle050 {
  top: 1004px;
  left: 129px;
  width: 57px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle051 {
  top: 1006px;
  left: 129px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle052 {
  top: 1500px;
  left: 126px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle053 {
  top: 1500px;
  left: 126px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle054 {
  top: 1500px;
  left: 126px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle055 {
  top: 1500px;
  left: 126px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle056 {
  top: 1500px;
  left: 152px;
  width: 220px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle057 {
  top: 1500px;
  left: 152px;
  width: 220px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle058 {
  top: 1503px;
  left: 152px;
  width: 220px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle059 {
  top: 1503px;
  left: 152px;
  width: 220px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle060 {
  top: 1528px;
  left: 126px;
  width: 256px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle061 {
  top: 1532px;
  left: 208px;
  width: 79px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle062 {
  top: 1534px;
  left: 208px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle063 {
  top: 1534px;
  left: 208px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle064 {
  top: 1532px;
  left: 234px;
  width: 53px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle065 {
  top: 1536px;
  left: 234px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle066 {
  top: 1536px;
  left: 234px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle067 {
  top: 1183px;
  left: 126px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle068 {
  top: 1183px;
  left: 126px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-image {
  top: 1183px;
  left: 126px;
  width: 272px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle069 {
  top: 1191px;
  left: 134px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle070 {
  top: 1191px;
  left: 134px;
  width: 145px;
  height: 20px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle071 {
  top: 1193px;
  left: 138px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle072 {
  top: 1193px;
  left: 138px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-frame {
  top: 1193px;
  left: 138px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle073 {
  top: 1193px;
  left: 158px;
  width: 113px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle074 {
  top: 1195px;
  left: 158px;
  width: 113px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle075 {
  top: 1195px;
  left: 158px;
  width: 113px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle076 {
  top: 1476px;
  left: 434px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle077 {
  top: 1476px;
  left: 434px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle078 {
  top: 1510px;
  left: 434px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle079 {
  top: 1510px;
  left: 434px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle080 {
  top: 1193px;
  left: 446px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle081 {
  top: 1193px;
  left: 446px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-frame1 {
  top: 1193px;
  left: 446px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle082 {
  top: 1640px;
  left: 487px;
  width: 1163px;
  height: 236px;
  position: absolute;
}
.evenement-rectangle083 {
  top: 1664px;
  left: 542px;
  width: 721px;
  height: 188px;
  position: absolute;
}
.evenement-rectangle084 {
  top: 1664px;
  left: 542px;
  width: 682px;
  height: 36px;
  position: absolute;
}
.evenement-rectangle085 {
  top: 1664px;
  left: 542px;
  width: 242px;
  height: 36px;
  position: absolute;
}
.evenement-rectangle086 {
  top: 1668px;
  left: 542px;
  width: 242px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle087 {
  top: 1716px;
  left: 542px;
  width: 682px;
  height: 72px;
  position: absolute;
}
.evenement-rectangle088 {
  top: 1720px;
  left: 542px;
  width: 679px;
  height: 64px;
  position: absolute;
}
.evenement-rectangle089 {
  top: 1720px;
  left: 542px;
  width: 679px;
  height: 64px;
  position: absolute;
}
.evenement-rectangle090 {
  top: 1750px;
  left: 267px;
  width: 177px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle091 {
  top: 1794px;
  left: 182px;
  width: 682px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle092 {
  top: 1726px;
  left: 596px;
  width: 187px;
  height: 40px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle093 {
  top: 1806px;
  left: 244px;
  width: 71px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle094 {
  top: 1806px;
  left: 244px;
  width: 71px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle095 {
  top: 1788px;
  left: 108px;
  width: 1163px;
  height: 264px;
  position: absolute;
}
.evenement-rectangle096 {
  top: 1788px;
  left: 108px;
  width: 1163px;
  height: 36px;
  position: absolute;
}
.evenement-rectangle097 {
  top: 1788px;
  left: 108px;
  width: 395px;
  height: 36px;
  position: absolute;
}
.evenement-rectangle098 {
  top: 1792px;
  left: 108px;
  width: 395px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle099 {
  top: 1848px;
  left: 108px;
  width: 1163px;
  height: 204px;
  position: absolute;
}
.evenement-rectangle100 {
  top: 1848px;
  left: 108px;
  width: 566px;
  height: 204px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle101 {
  top: 1880px;
  left: 132px;
  width: 41px;
  height: 148px;
  position: absolute;
}
.evenement-image1 {
  top: 1880px;
  left: 132px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.evenement-rectangle102 {
  top: 1880px;
  left: 195px;
  width: 369px;
  height: 148px;
  position: absolute;
}
.evenement-rectangle103 {
  top: 1880px;
  left: 195px;
  width: 369px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle104 {
  top: 1882px;
  left: 195px;
  width: 312px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle105 {
  top: 1882px;
  left: 195px;
  width: 312px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle106 {
  top: 1944px;
  left: 195px;
  width: 369px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle107 {
  top: 1948px;
  left: 195px;
  width: 355px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle108 {
  top: 1948px;
  left: 195px;
  width: 355px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle109 {
  top: 2008px;
  left: 197px;
  width: 337px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle110 {
  top: 2008px;
  left: 197px;
  width: 337px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle111 {
  top: 2008px;
  left: 197px;
  width: 337px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle112 {
  top: 1848px;
  left: 705px;
  width: 566px;
  height: 204px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle113 {
  top: 1880px;
  left: 728px;
  width: 40px;
  height: 148px;
  position: absolute;
}
.evenement-image2 {
  top: 1880px;
  left: 728px;
  width: 40px;
  height: 41px;
  position: absolute;
}
.evenement-rectangle114 {
  top: 1880px;
  left: 792px;
  width: 369px;
  height: 148px;
  position: absolute;
}
.evenement-rectangle115 {
  top: 1880px;
  left: 792px;
  width: 369px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle116 {
  top: 1882px;
  left: 792px;
  width: 341px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle117 {
  top: 1882px;
  left: 792px;
  width: 341px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle118 {
  top: 1944px;
  left: 792px;
  width: 369px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle119 {
  top: 1948px;
  left: 792px;
  width: 353px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle120 {
  top: 1948px;
  left: 792px;
  width: 353px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle121 {
  top: 2008px;
  left: 809px;
  width: 126px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle122 {
  top: 2008px;
  left: 809px;
  width: 126px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle123 {
  top: 2008px;
  left: 809px;
  width: 126px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle124 {
  top: 4147px;
  left: -1px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.evenement-rectangle125 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.evenement-text {
  top: 26px;
  left: 1808px;
  color: rgba(255, 255, 255, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text002 {
  top: 176px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 586px;
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text004 {
  top: 359px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 621px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text006 {
  top: 407px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 590px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text008 {
  top: 483px;
  left: 145px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text010 {
  top: 639px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text012 {
  top: 870px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text014 {
  top: 924px;
  left: 129px;
  color: rgba(112, 112, 112, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text016 {
  top: 924px;
  left: 216px;
  color: rgba(112, 112, 112, 1);
  width: 11px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text017 {
  top: 972px;
  left: 155px;
  color: rgba(33, 33, 33, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text019 {
  top: 1007px;
  left: 232px;
  color: rgba(33, 33, 33, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle126 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 399px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle127 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle128 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle129 {
  top: 868px;
  left: 524px;
  width: 272px;
  height: 214px;
  position: absolute;
}
.evenement-rectangle130 {
  top: 868px;
  left: 524px;
  width: 256px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle131 {
  top: 870px;
  left: 524px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle132 {
  top: 870px;
  left: 524px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle133 {
  top: 924px;
  left: 524px;
  width: 256px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle134 {
  top: 927px;
  left: 524px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle135 {
  top: 927px;
  left: 524px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle136 {
  top: 927px;
  left: 611px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle137 {
  top: 927px;
  left: 611px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle138 {
  top: 927px;
  left: 524px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle139 {
  top: 927px;
  left: 524px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle140 {
  top: 972px;
  left: 524px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle141 {
  top: 972px;
  left: 524px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle142 {
  top: 972px;
  left: 453px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle143 {
  top: 972px;
  left: 453px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle144 {
  top: 972px;
  left: 550px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle145 {
  top: 972px;
  left: 550px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle146 {
  top: 975px;
  left: 550px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle147 {
  top: 975px;
  left: 550px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle148 {
  top: 1004px;
  left: 524px;
  width: 57px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle149 {
  top: 1006px;
  left: 453px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle150 {
  top: 1006px;
  left: 453px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle151 {
  top: 1004px;
  left: 550px;
  width: 31px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle152 {
  top: 1008px;
  left: 550px;
  width: 31px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle153 {
  top: 1008px;
  left: 550px;
  width: 31px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle154 {
  top: 1004px;
  left: 596px;
  width: 79px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle155 {
  top: 1006px;
  left: 596px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle156 {
  top: 1006px;
  left: 596px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle157 {
  top: 1004px;
  left: 622px;
  width: 53px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle158 {
  top: 1008px;
  left: 622px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle159 {
  top: 1008px;
  left: 622px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle160 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle161 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-image3 {
  top: 703px;
  left: 524px;
  width: 272px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-image4 {
  top: 699px;
  left: 122px;
  width: 272px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-text021 {
  top: 870px;
  left: 524px;
  color: rgba(33, 33, 33, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text023 {
  top: 924px;
  left: 524px;
  color: rgba(112, 112, 112, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text025 {
  top: 924px;
  left: 611px;
  color: rgba(112, 112, 112, 1);
  width: 11px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text026 {
  top: 972px;
  left: 550px;
  color: rgba(33, 33, 33, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text028 {
  top: 1004px;
  left: 622px;
  color: rgba(33, 33, 33, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle162 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 399px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle163 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle164 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle165 {
  top: 868px;
  left: 894px;
  width: 272px;
  height: 214px;
  position: absolute;
}
.evenement-rectangle166 {
  top: 868px;
  left: 894px;
  width: 256px;
  height: 48px;
  position: absolute;
}
.evenement-rectangle167 {
  top: 870px;
  left: 894px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle168 {
  top: 870px;
  left: 894px;
  width: 207px;
  height: 44px;
  position: absolute;
}
.evenement-rectangle169 {
  top: 924px;
  left: 894px;
  width: 256px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle170 {
  top: 927px;
  left: 894px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle171 {
  top: 927px;
  left: 894px;
  width: 87px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle172 {
  top: 927px;
  left: 981px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle173 {
  top: 927px;
  left: 981px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle174 {
  top: 927px;
  left: 894px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle175 {
  top: 927px;
  left: 894px;
  width: 239px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle176 {
  top: 972px;
  left: 894px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle177 {
  top: 972px;
  left: 894px;
  width: 256px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle178 {
  top: 972px;
  left: 894px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle179 {
  top: 972px;
  left: 894px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle180 {
  top: 972px;
  left: 920px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle181 {
  top: 972px;
  left: 920px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle182 {
  top: 975px;
  left: 920px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle183 {
  top: 975px;
  left: 920px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle184 {
  top: 1000px;
  left: 894px;
  width: 256px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle185 {
  top: 1004px;
  left: 894px;
  width: 57px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle186 {
  top: 1006px;
  left: 894px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle187 {
  top: 1006px;
  left: 894px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle188 {
  top: 1004px;
  left: 920px;
  width: 31px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle189 {
  top: 1008px;
  left: 920px;
  width: 31px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle190 {
  top: 1008px;
  left: 920px;
  width: 31px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle191 {
  top: 1004px;
  left: 966px;
  width: 79px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle192 {
  top: 1006px;
  left: 966px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle193 {
  top: 1006px;
  left: 966px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle194 {
  top: 1004px;
  left: 992px;
  width: 53px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle195 {
  top: 1008px;
  left: 992px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle196 {
  top: 1008px;
  left: 992px;
  width: 53px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle197 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle198 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 153px;
  position: absolute;
}
.evenement-image5 {
  top: 703px;
  left: 894px;
  width: 272px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-text030 {
  top: 870px;
  left: 894px;
  color: rgba(33, 33, 33, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text032 {
  top: 924px;
  left: 894px;
  color: rgba(112, 112, 112, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text034 {
  top: 924px;
  left: 981px;
  color: rgba(112, 112, 112, 1);
  width: 11px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text035 {
  top: 972px;
  left: 920px;
  color: rgba(33, 33, 33, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text037 {
  top: 1004px;
  left: 992px;
  color: rgba(33, 33, 33, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text039 {
  top: 1131px;
  left: 129px;
  color: rgba(33, 33, 33, 1);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text041 {
  top: 1346px;
  left: 124px;
  color: rgb(33, 33, 33);
  width: 118px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text042 {
  top: 1455px;
  left: 128px;
  color: rgba(112, 112, 112, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text044 {
  top: 1500px;
  left: 152px;
  color: rgba(33, 33, 33, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text046 {
  top: 1532px;
  left: 234px;
  color: rgba(33, 33, 33, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle199 {
  top: 1500px;
  left: 466px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle200 {
  top: 1500px;
  left: 466px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle201 {
  top: 1534px;
  left: 466px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle202 {
  top: 1534px;
  left: 466px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-text048 {
  top: 1193px;
  left: 158px;
  color: rgba(112, 112, 112, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle203 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 399px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle204 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle205 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle206 {
  top: 1348px;
  left: 499px;
  width: 265px;
  height: 214px;
  position: absolute;
}
.evenement-rectangle207 {
  top: 1348px;
  left: 499px;
  width: 250px;
  height: 96px;
  position: absolute;
}
.evenement-rectangle208 {
  top: 1350px;
  left: 499px;
  width: 244px;
  height: 92px;
  position: absolute;
}
.evenement-rectangle209 {
  top: 1350px;
  left: 499px;
  width: 115px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle210 {
  top: 1350px;
  left: 499px;
  width: 244px;
  height: 92px;
  position: absolute;
}
.evenement-rectangle211 {
  top: 1452px;
  left: 499px;
  width: 250px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle212 {
  top: 1455px;
  left: 499px;
  width: 88px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle213 {
  top: 1455px;
  left: 499px;
  width: 88px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle214 {
  top: 1455px;
  left: 587px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle215 {
  top: 1455px;
  left: 587px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle216 {
  top: 1455px;
  left: 499px;
  width: 236px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle217 {
  top: 1455px;
  left: 499px;
  width: 236px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle218 {
  top: 1500px;
  left: 499px;
  width: 250px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle219 {
  top: 1500px;
  left: 499px;
  width: 250px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle220 {
  top: 1500px;
  left: 499px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle221 {
  top: 1500px;
  left: 499px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle222 {
  top: 1500px;
  left: 524px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle223 {
  top: 1500px;
  left: 524px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle224 {
  top: 1503px;
  left: 524px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle225 {
  top: 1503px;
  left: 524px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle226 {
  top: 1528px;
  left: 499px;
  width: 250px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle227 {
  top: 1532px;
  left: 499px;
  width: 65px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle228 {
  top: 1534px;
  left: 499px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle229 {
  top: 1534px;
  left: 499px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle230 {
  top: 1532px;
  left: 524px;
  width: 40px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle231 {
  top: 1536px;
  left: 524px;
  width: 40px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle232 {
  top: 1536px;
  left: 524px;
  width: 40px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle233 {
  top: 1532px;
  left: 579px;
  width: 77px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle234 {
  top: 1534px;
  left: 579px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle235 {
  top: 1534px;
  left: 579px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle236 {
  top: 1532px;
  left: 604px;
  width: 52px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle237 {
  top: 1536px;
  left: 604px;
  width: 52px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle238 {
  top: 1536px;
  left: 604px;
  width: 52px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle239 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle240 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 153px;
  position: absolute;
}
.evenement-image6 {
  top: 1183px;
  left: 499px;
  width: 265px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle241 {
  top: 1191px;
  left: 507px;
  width: 250px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle242 {
  top: 1191px;
  left: 507px;
  width: 141px;
  height: 20px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle243 {
  top: 1193px;
  left: 511px;
  width: 15px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle244 {
  top: 1193px;
  left: 511px;
  width: 15px;
  height: 16px;
  position: absolute;
}
.evenement-frame2 {
  top: 1193px;
  left: 511px;
  width: 15px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle245 {
  top: 1193px;
  left: 530px;
  width: 111px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle246 {
  top: 1195px;
  left: 530px;
  width: 111px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle247 {
  top: 1195px;
  left: 530px;
  width: 111px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle248 {
  top: 1476px;
  left: 800px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle249 {
  top: 1476px;
  left: 800px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle250 {
  top: 1510px;
  left: 800px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle251 {
  top: 1193px;
  left: 811px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle252 {
  top: 1193px;
  left: 811px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-text050 {
  top: 1348px;
  left: 499px;
  color: rgba(33, 33, 33, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text052 {
  top: 1452px;
  left: 499px;
  color: rgba(112, 112, 112, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text054 {
  top: 1452px;
  left: 587px;
  color: rgba(112, 112, 112, 1);
  width: 11px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text055 {
  top: 1500px;
  left: 524px;
  color: rgba(33, 33, 33, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text057 {
  top: 1532px;
  left: 604px;
  color: rgba(33, 33, 33, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle253 {
  top: 1500px;
  left: 839px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle254 {
  top: 1500px;
  left: 839px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle255 {
  top: 1534px;
  left: 839px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-text059 {
  top: 1193px;
  left: 530px;
  color: rgba(112, 112, 112, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle256 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 399px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle257 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle258 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 379px;
  position: absolute;
}
.evenement-rectangle259 {
  top: 1335px;
  left: 864px;
  width: 265px;
  height: 214px;
  position: absolute;
}
.evenement-rectangle260 {
  top: 1335px;
  left: 864px;
  width: 250px;
  height: 96px;
  position: absolute;
}
.evenement-rectangle261 {
  top: 1337px;
  left: 864px;
  width: 244px;
  height: 92px;
  position: absolute;
}
.evenement-rectangle262 {
  top: 1337px;
  left: 864px;
  width: 115px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle263 {
  top: 1337px;
  left: 864px;
  width: 244px;
  height: 92px;
  position: absolute;
}
.evenement-rectangle264 {
  top: 1439px;
  left: 864px;
  width: 250px;
  height: 40px;
  position: absolute;
}
.evenement-rectangle265 {
  top: 1442px;
  left: 864px;
  width: 88px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle266 {
  top: 1442px;
  left: 864px;
  width: 88px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle267 {
  top: 1442px;
  left: 952px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle268 {
  top: 1442px;
  left: 952px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle269 {
  top: 1442px;
  left: 864px;
  width: 236px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle270 {
  top: 1442px;
  left: 864px;
  width: 236px;
  height: 34px;
  position: absolute;
}
.evenement-rectangle271 {
  top: 1487px;
  left: 864px;
  width: 250px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle272 {
  top: 1487px;
  left: 864px;
  width: 250px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle273 {
  top: 1487px;
  left: 889px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle274 {
  top: 1487px;
  left: 889px;
  width: 215px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle275 {
  top: 1490px;
  left: 889px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle276 {
  top: 1490px;
  left: 889px;
  width: 215px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle277 {
  top: 1515px;
  left: 864px;
  width: 250px;
  height: 28px;
  position: absolute;
}
.evenement-rectangle278 {
  top: 1519px;
  left: 864px;
  width: 65px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle279 {
  top: 1519px;
  left: 889px;
  width: 40px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle280 {
  top: 1523px;
  left: 889px;
  width: 40px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle281 {
  top: 1523px;
  left: 889px;
  width: 40px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle282 {
  top: 1519px;
  left: 944px;
  width: 77px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle283 {
  top: 1521px;
  left: 944px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle284 {
  top: 1521px;
  left: 944px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-frame3 {
  top: 1521px;
  left: 944px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle285 {
  top: 1519px;
  left: 969px;
  width: 52px;
  height: 24px;
  position: absolute;
}
.evenement-rectangle286 {
  top: 1523px;
  left: 969px;
  width: 52px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle287 {
  top: 1523px;
  left: 969px;
  width: 52px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle288 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 153px;
  position: absolute;
}
.evenement-rectangle289 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 153px;
  position: absolute;
}
.evenement-image7 {
  top: 1170px;
  left: 864px;
  width: 265px;
  height: 153px;
  position: absolute;
  border-radius: 8px;
}
.evenement-rectangle290 {
  top: 1178px;
  left: 872px;
  width: 249px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle291 {
  top: 1178px;
  left: 872px;
  width: 141px;
  height: 20px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle292 {
  top: 1180px;
  left: 895px;
  width: 110px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle293 {
  top: 1182px;
  left: 895px;
  width: 110px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle294 {
  top: 1182px;
  left: 895px;
  width: 110px;
  height: 12px;
  position: absolute;
}
.evenement-rectangle295 {
  top: 1463px;
  left: 1164px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle296 {
  top: 1463px;
  left: 1164px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle297 {
  top: 1497px;
  left: 1164px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle298 {
  top: 1497px;
  left: 1164px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle299 {
  top: 1180px;
  left: 1176px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-rectangle300 {
  top: 1180px;
  left: 1176px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.evenement-text061 {
  top: 1335px;
  left: 864px;
  color: rgba(33, 33, 33, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text063 {
  top: 1439px;
  left: 864px;
  color: rgba(112, 112, 112, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text065 {
  top: 1439px;
  left: 952px;
  color: rgba(112, 112, 112, 1);
  width: 10px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text066 {
  top: 1487px;
  left: 889px;
  color: rgba(33, 33, 33, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text068 {
  top: 1519px;
  left: 889px;
  color: rgba(33, 33, 33, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text070 {
  top: 1519px;
  left: 969px;
  color: rgba(33, 33, 33, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle301 {
  top: 1487px;
  left: 1204px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle302 {
  top: 1487px;
  left: 1204px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle303 {
  top: 1521px;
  left: 1204px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-rectangle304 {
  top: 1521px;
  left: 1204px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.evenement-text072 {
  top: 1180px;
  left: 895px;
  color: rgba(112, 112, 112, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text074 {
  top: 1664px;
  left: 542px;
  color: rgba(33, 33, 33, 1);
  width: 381px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text076 {
  top: 1802px;
  left: 244px;
  color: rgba(255, 255, 255, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text078 {
  top: 1734px;
  left: 649px;
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text080 {
  top: 1788px;
  left: 108px;
  color: rgba(33, 33, 33, 1);
  width: 546px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text082 {
  top: 1882px;
  left: 195px;
  color: rgba(33, 33, 33, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text084 {
  top: 1948px;
  left: 197px;
  color: rgba(33, 33, 33, 1);
  width: 364px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text086 {
  top: 1972px;
  left: 197px;
  color: rgba(0, 121, 138, 1);
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text088 {
  top: 1882px;
  left: 792px;
  color: rgba(33, 33, 33, 1);
  width: 341px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text090 {
  top: 1948px;
  left: 792px;
  color: rgba(33, 33, 33, 1);
  width: 353px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text092 {
  top: 1968px;
  left: 812px;
  color: rgba(0, 121, 138, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-frame4 {
  top: 3012px;
  left: 1755px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.evenement-frame5 {
  top: 3042px;
  left: 1755px;
  width: 15px;
  height: 14px;
  position: absolute;
}
.evenement-text094 {
  top: 3140px;
  left: 1759px;
  color: rgba(248, 249, 250, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle305 {
  top: 41px;
  left: 988px;
  width: 117px;
  height: 52px;
  position: absolute;
}
.evenement-rectangle306 {
  top: 46px;
  left: 569px;
  width: 200px;
  height: 47px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle307 {
  top: 46px;
  left: 781px;
  width: 123px;
  height: 47px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle308 {
  top: 46px;
  left: 916px;
  width: 105px;
  height: 47px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle309 {
  top: 46px;
  left: 1034px;
  width: 71px;
  height: 47px;
  position: absolute;
  border-radius: 4px;
}
.evenement-rectangle310 {
  top: 46px;
  left: 1114px;
  width: 112px;
  height: 47px;
  position: absolute;
  border-color: rgba(149, 30, 47, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.evenement-text096 {
  top: 41px;
  left: 155px;
  color: rgba(149, 30, 47, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text098 {
  top: 41px;
  left: 271px;
  color: rgba(0, 0, 0, 1);
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text100 {
  top: 53px;
  left: 501px;
  color: rgba(108, 117, 125, 1);
  width: 46px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text102 {
  top: 53px;
  left: 579px;
  color: rgba(33, 37, 41, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text104 {
  top: 53px;
  left: 791px;
  color: rgba(33, 37, 41, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text106 {
  top: 53px;
  left: 892px;
  color: rgba(33, 37, 41, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text108 {
  top: 53px;
  left: 1000px;
  color: rgba(33, 37, 41, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text110 {
  top: 53px;
  left: 1128px;
  color: rgba(255, 255, 255, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-rectangle311 {
  top: 2318px;
  left: 1137px;
  width: 724px;
  height: 29px;
  position: absolute;
}
.evenement-rectangle312 {
  top: 2163px;
  flex: 0;
  left: 3px;
  width: 1232px;
  height: 265px;
  position: absolute;
}
.evenement-frame6 {
  top: 2217px;
  left: 37px;
  width: 12px;
  height: 14px;
  position: absolute;
}
.evenement-rectangle313 {
  top: 2290px;
  left: 36px;
  width: 2112px;
  height: 1px;
  position: absolute;
}
.evenement-rectangle314 {
  top: 2291px;
  left: 36px;
  width: 2112px;
  height: 1px;
  position: absolute;
}
.evenement-text112 {
  top: 2173px;
  left: 37px;
  color: rgba(248, 249, 250, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text114 {
  top: 2173px;
  left: 141px;
  color: rgba(222, 103, 120, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text116 {
  top: 2213px;
  left: 49px;
  color: rgba(248, 249, 250, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text118 {
  top: 2238px;
  left: 37px;
  color: rgba(248, 249, 250, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text120 {
  top: 2300px;
  left: 44px;
  color: rgba(248, 249, 250, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text122 {
  top: 2332px;
  left: 44px;
  color: rgba(248, 249, 250, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text124 {
  top: 2361px;
  left: 44px;
  color: rgba(248, 249, 250, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text126 {
  top: 2390px;
  left: 44px;
  color: rgba(248, 249, 250, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text128 {
  top: 2300px;
  left: 231px;
  color: rgba(248, 249, 250, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text130 {
  top: 2332px;
  left: 231px;
  color: rgba(248, 249, 250, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.evenement-text132 {
  top: 2361px;
  left: 231px;
  color: rgba(248, 249, 250, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
